.moving_mail{
    display: flex;
    justify-content: left;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.moving_mail li{
    margin-right:80px;
    padding: 50px;
}
.moving_mail a{
text-decoration: none; 
font-size: 16px;
font-family: Arial, sans-serif;
color: black;
}
.border-container {
    border: 2px solid black; 
    padding: 10px; 
    margin: 0; 
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    
}

.contact-container div {
    color: #333;
}

.contact-container a {
    text-decoration: none; 

}

.border-container {
    border: 2px solid black; 
    padding: 10px; 
    margin: 0;
    border-radius: 25px;
}
.background-container {
   position: relative;
    background-image: url("https://media.istockphoto.com/id/1308654909/photo/family-moving-and-using-a-boxes.jpg?s=2048x2048&w=is&k=20&c=--A7gk4WNleFTsEFb-lT5Q5LdNc_BZFd_1mRjQr4AF0=");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    color: white; 
    text-align: center
    
    
}

